In [25]:
%config IPCompleter.greedy=True

# Press Shift + Tab

In [1]:
import pandas as pd
import csv
import numpy as np
from datetime import datetime as dt
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 20)

data_1 = pd.read_excel('월간_매매가격지수_아파트.xlsx',header = 10)
data_2 = pd.read_excel('월간_전세가격지수_아파트.xlsx',header = 10)
data_3 = pd.read_csv('data1.csv',usecols=range(21),lineterminator='\n',encoding = 'euc-kr',low_memory=False) #매매
data_4 = pd.read_csv('data2.csv', encoding = 'euc-kr',low_memory=False) #전세

In [2]:
data_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2677992 entries, 0 to 2677991
Data columns (total 21 columns):
 #   Column            Dtype
---  ------            -----
 0   접수연도              int64
 1   자치구코드             int64
 2   자치구명              object
 3   법정동코드             int64
 4   법정동명              object
 5   지번구분              float64
 6   지번구분명             object
 7   본번                object
 8   부번                float64
 9   건물명               object
 10  계약일               int64
 11  물건금액(만원)          int64
 12  건물면적(㎡)           float64
 13  토지면적(㎡)           float64
 14  층                 float64
 15  권리구분              object
 16  취소일               float64
 17  건축년도              float64
 18  건물용도              object
 19  신고구분              object
 20  신고한 개업공인중개사 시군구명  object
dtypes: float64(7), int64(5), object(9)
memory usage: 429.1+ MB

In [8]:
data_3.isna().sum().sum()

12437657

In [4]:
data_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5464665 entries, 0 to 5464664
Data columns (total 23 columns):
 #   Column     Dtype
---  ------     -----
 0   접수연도       int64
 1   자치구코드      int64
 2   자치구명       object
 3   법정동코드      float64
 4   법정동명       object
 5   지번구분       float64
 6   지번구분명      object
 7   본번         float64
 8   부번         float64
 9   층          float64
 10  계약일        int64
 11  전월세 구분     object
 12  임대면적(㎡)    float64
 13  보증금(만원)    int64
 14  임대료(만원)    int64
 15  건물명        object
 16  건축년도       float64
 17  건물용도       object
 18  계약기간       object
 19  신규갱신여부     object
 20  계약갱신권사용여부  object
 21  종전 보증금     float64
 22  종전 임대료     float64
dtypes: float64(9), int64(5), object(9)
memory usage: 958.9+ MB

In [5]:
data_4.isna().sum()

접수연도               0
자치구코드              0
자치구명               0
법정동코드             33
법정동명              35
              ...
계약기간         4507939
신규갱신여부       4558621
계약갱신권사용여부    5340249
종전 보증금       4668243
종전 임대료       5074851
Length: 23, dtype: int64

In [9]:
data_4.isna().sum().sum()

34541081

In [27]:
df3 = data_3.copy()

grouped = df3.groupby(['자치구명', '법정동명', '본번', '부번'])

# 각 그룹의 첫 번째 '건물명'을 가져옵니다.
first_building_names = grouped['건물명'].transform('first')

# '건물명' 컬럼을 첫 번째 '건물명'으로 업데이트합니다.
df3['건물명'] = first_building_names
df3['계약월'] = (df3['계약일']%10000//100).astype('float64')
df3['건물명'] = df3['건물명'].str.strip('\t')
df3['건물면적(㎡)'] = df3['건물면적(㎡)'].map(lambda x: float(round(x)) if ~np.isnan(x)  else x)
df3['본번'] = df3['본번'].str.lstrip('0')
df3['본번'] = pd.to_numeric(df3['본번'],errors='coerce')
df3['토지면적(㎡)'] = df3['토지면적(㎡)'].map(lambda x: round(x) if ~np.isnan(x)  else x)
df3 = df3[df3['접수연도']>2010] 
df3 = df3.drop(df3[(df3['건물용도']=='연립다세대') | (df3['건물용도']=='단독다가구')].index)
df3.drop(columns=['신고구분', '신고한 개업공인중개사 시군구명', '토지면적(㎡)', '취소일','권리구분','지번구분','계약일'],inplace = True)
df3.rename(columns={"건물면적(㎡)": "면적"},inplace = True)
df3 = df3.sort_values(by=['접수연도'], ascending=True)
df3 = df3.sort_values(by=['자치구명', '법정동명', '건물명', '면적']).reset_index(drop=True)
df3['층'] = df3['층'].map(lambda x: '2층 초과' if x >2 else '2층 이하') 

df3.head()

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분명,본번,부번,건물명,물건금액(만원),면적,층,건축년도,건물용도,계약월
0,2023,11680,강남구,10300,개포동,대지,1237.0,8.0,YH빌리지,37000,28.0,2층 이하,2017.0,오피스텔,2.0
1,2022,11680,강남구,10300,개포동,대지,1237.0,8.0,YH빌리지,40000,31.0,2층 이하,2017.0,오피스텔,1.0
2,2023,11680,강남구,10300,개포동,대지,1237.0,8.0,YH빌리지,40000,37.0,2층 이하,2017.0,오피스텔,7.0
3,2011,11680,강남구,10300,개포동,대지,655.0,2.0,개포2차현대아파트(220),65500,78.0,2층 초과,1988.0,아파트,7.0
4,2011,11680,강남구,10300,개포동,대지,655.0,2.0,개포2차현대아파트(220),64000,78.0,2층 초과,1988.0,아파트,7.0

In [28]:
df3.loc[(df3['건물명']=='파크하비오(204동)'), ['건축년도']] = 2016

df3.loc[(df3['건물명']=='대명벨리온')&(df3['건물용도']=='오피스텔'), ['건축년도']] = 2017

df3.loc[(df3['건물명']=='래미안포레'), ['본번']] = 687

df3.loc[(df3['건물명']=='랑데르'), ['본번']] = 282

df3.loc[(df3['건물명']=='랑데르'), ['부번']] = 2

df3.loc[(df3['건물명']=='동대문 푸르지오시티'), ['건축년도']] = 2016

df3.loc[(df3['건물명']=='도봉 투웨니퍼스트 2단지'), ['건축년도']] = 2017

df3.loc[(df3['건물명']=='엠스테이트'), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='광진구')&(df3['법정동명']=='화양동')&(df3['본번']==111.0)&(df3['부번']==12.0), ['건물명']] = '빌리브인테라스'

df3.loc[(df3['자치구명']=='송파구')&(df3['법정동명']=='석촌동')&(df3['본번']==24.0)&(df3['부번']==11.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='종로구')&(df3['법정동명']=='숭인동')&(df3['본번']==298.0)&(df3['부번']==9.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='금천구')&(df3['법정동명']=='가산동')&(df3['본번']==142.0)&(df3['부번']==17.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='영등포구')&(df3['법정동명']=='문래동3가')&(df3['본번']==81.0)&(df3['부번']==0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='마포구')&(df3['법정동명']=='신공덕동')&(df3['본번']==1.0)&(df3['부번']==48), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='구로구')&(df3['법정동명']=='구로동')&(df3['본번']==830.0)&(df3['부번']==0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='중구')&(df3['법정동명']=='황학동')&(df3['본번']==19.0)&(df3['부번']==0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='강동구')&(df3['법정동명']=='길동')&(df3['본번']==414.0)&(df3['부번']==9.0), ['건축년도']] = 2022

df3.loc[(df3['자치구명']=='강서구')&(df3['법정동명']=='마곡동')&(df3['본번']==784.0)&(df3['부번']==9.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='서초구')&(df3['법정동명']=='내곡동')&(df3['건물명']=='서초포레스타2단지'), ['본번']] = 384

df3.loc[(df3['자치구명']=='광진구')&(df3['법정동명']=='구의동')&(df3['본번']==667.0)&(df3['부번']==0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='성동구')&(df3['법정동명']=='성수동1가')&(df3['본번']==656.0)&(df3['부번']==449.0), ['건축년도']] = 2022

df3.loc[(df3['자치구명']=='중랑구')&(df3['법정동명']=='상봉동')&(df3['본번']==129.0)&(df3['부번']==19.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='마포구')&(df3['법정동명']=='신공덕동')&(df3['본번']==5.0)&(df3['부번']==75.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='송파구')&(df3['법정동명']=='신천동')&(df3['본번']==29.0)&(df3['부번']==0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='강남구')&(df3['법정동명']=='대치동')&(df3['본번']==944.0)&(df3['부번']==21.0), ['건축년도']] = 2018

df3.loc[(df3['자치구명']=='송파구')&(df3['법정동명']=='석촌동')&(df3['본번']==24.0)&(df3['부번']==14.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='관악구')&(df3['법정동명']=='봉천동')&(df3['본번']==1568.0)&(df3['부번']==1.0), ['건축년도']] = 2018

df3.loc[(df3['자치구명']=='서초구')&(df3['법정동명']=='서초동')&(df3['본번']==1487.0)&(df3['부번']==116.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='강남구')&(df3['법정동명']=='삼성동')&(df3['본번']==45.0)&(df3['부번']==9.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='강남구')&(df3['법정동명']=='율현동')&(df3['건물명']=='훼미리타운'), ['본번']] = 672

df3.loc[(df3['자치구명']=='강남구')&(df3['법정동명']=='율현동')&(df3['건물명']=='훼미리타운'), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='강동구')&(df3['법정동명']=='강일동')&(df3['본번']==677.0)&(df3['부번']==3.0), ['건축년도']] = 2015

df3.loc[(df3['자치구명']=='강동구')&(df3['법정동명']=='천호동')&(df3['본번']==167.0)&(df3['부번']==120.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='강북구')&(df3['법정동명']=='수유동')&(df3['본번']==277.0)&(df3['부번']==33.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='강북구')&(df3['법정동명']=='수유동')&(df3['본번']==279.0)&(df3['부번']==54.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='강서구')&(df3['법정동명']=='가양동')&(df3['본번']==274.0)&(df3['부번']==4.0), ['건축년도']] = 2018

df3.loc[(df3['자치구명']=='강서구')&(df3['법정동명']=='등촌동')&(df3['본번']==634.0)&(df3['부번']==10.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='강서구')&(df3['법정동명']=='마곡동')&(df3['본번']==5.0)&(df3['부번']==1.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='강서구')&(df3['법정동명']=='마곡동')&(df3['본번']==747.0)&(df3['부번']==0.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='강서구')&(df3['법정동명']=='염창동')&(df3['본번']==253.0)&(df3['부번']==6.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='강서구')&(df3['법정동명']=='염창동')&(df3['본번']==253.0)&(df3['부번']==7.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='강서구')&(df3['법정동명']=='화곡동')&(df3['본번']==920.0)&(df3['부번']==15.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='강서구')&(df3['법정동명']=='화곡동')&(df3['본번']==899.0)&(df3['부번']==8.0), ['건축년도']] = 2018

df3.loc[(df3['자치구명']=='관악구')&(df3['법정동명']=='봉천동')&(df3['본번']==919.0)&(df3['부번']==38.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='관악구')&(df3['법정동명']=='신림동')&(df3['본번']==1474.0)&(df3['부번']==4.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='광진구')&(df3['법정동명']=='화양동')&(df3['본번']==42.0)&(df3['부번']==7.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='광진구')&(df3['법정동명']=='화양동')&(df3['본번']==111.0)&(df3['부번']==22.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='구로구')&(df3['법정동명']=='개봉동')&(df3['본번']==198.0)&(df3['부번']==4.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='구로구')&(df3['법정동명']=='개봉동')&(df3['본번']==66.0)&(df3['부번']==27.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='구로구')&(df3['법정동명']=='오류동')&(df3['건물명']=='새롬스타빌'), ['본번']] = 280

df3.loc[(df3['자치구명']=='구로구')&(df3['법정동명']=='오류동')&(df3['건물명']=='새롬스타빌'), ['부번']] = 12

df3.loc[(df3['자치구명']=='구로구')&(df3['법정동명']=='항동')&(df3['건물명']=='우남퍼스트빌더센트럴'), ['본번']] = 216

df3.loc[(df3['자치구명']=='구로구')&(df3['법정동명']=='항동')&(df3['건물명']=='우남퍼스트빌더센트럴'), ['부번']] = 1

df3.loc[(df3['자치구명']=='금천구')&(df3['법정동명']=='가산동')&(df3['본번']==143.0)&(df3['부번']==20.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='금천구')&(df3['법정동명']=='가산동')&(df3['본번']==238.0)&(df3['부번']==97.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='금천구')&(df3['법정동명']=='가산동')&(df3['본번']==238.0)&(df3['부번']==97.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='금천구')&(df3['법정동명']=='가산동')&(df3['본번']==238.0)&(df3['부번']==24.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='금천구')&(df3['법정동명']=='독산동')&(df3['본번']==378.0)&(df3['부번']==464.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='금천구')&(df3['법정동명']=='독산동')&(df3['본번']==1023.0)&(df3['부번']==4.0), ['건축년도']] = 2018

df3.loc[(df3['자치구명']=='금천구')&(df3['법정동명']=='독산동')&(df3['본번']==378.0)&(df3['부번']==461.0), ['건축년도']] = 2015

df3.loc[(df3['자치구명']=='금천구')&(df3['법정동명']=='독산동')&(df3['본번']==1006.0)&(df3['부번']==204.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='금천구')&(df3['법정동명']=='독산동')&(df3['본번']==973.0)&(df3['부번']==47.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='금천구')&(df3['법정동명']=='독산동')&(df3['본번']==1006.0)&(df3['부번']==110.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='금천구')&(df3['법정동명']=='독산동')&(df3['본번']==1009.0)&(df3['부번']==75.0), ['건축년도']] = 2015

df3.loc[(df3['자치구명']=='금천구')&(df3['법정동명']=='독산동')&(df3['본번']==297.0)&(df3['부번']==19.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='금천구')&(df3['법정동명']=='독산동')&(df3['본번']==295.0)&(df3['부번']==9.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='금천구')&(df3['법정동명']=='독산동')&(df3['본번']==330.0)&(df3['부번']==13.0), ['건축년도']] = 2022

df3.loc[(df3['자치구명']=='금천구')&(df3['법정동명']=='시흥동')&(df3['본번']==831.0)&(df3['부번']==5.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='금천구')&(df3['법정동명']=='시흥동')&(df3['본번']==831.0)&(df3['부번']==5.0), ['건물명']] = '은연빌라트'

df3.loc[(df3['자치구명']=='금천구')&(df3['법정동명']=='시흥동')&(df3['본번']==995.0)&(df3['부번']==24.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='금천구')&(df3['법정동명']=='시흥동')&(df3['본번']==789.0)&(df3['부번']==15.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='금천구')&(df3['법정동명']=='시흥동')&(df3['본번']==789.0)&(df3['부번']==49.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='금천구')&(df3['법정동명']=='시흥동')&(df3['본번']==888.0)&(df3['부번']==14.0), ['건물명']] = '신영메트로시티'

df3.loc[(df3['자치구명']=='도봉구')&(df3['법정동명']=='쌍문동')&(df3['본번']==103.0)&(df3['부번']==79.0), ['건축년도']] = 2018

df3.loc[(df3['자치구명']=='도봉구')&(df3['법정동명']=='창동')&(df3['본번']==635.0)&(df3['부번']==43.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='도봉구')&(df3['법정동명']=='창동')&(df3['본번']==607.0)&(df3['부번']==25.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='도봉구')&(df3['법정동명']=='창동')&(df3['본번']==424.0)&(df3['부번']==3.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='도봉구')&(df3['법정동명']=='창동')&(df3['본번']==581.0)&(df3['부번']==19.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='도봉구')&(df3['법정동명']=='창동')&(df3['본번']==578.0)&(df3['부번']==59.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='동대문구')&(df3['법정동명']=='답십리동')&(df3['본번']==530.0)&(df3['부번']==15.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='동대문구')&(df3['법정동명']=='장안동')&(df3['본번']==106.0)&(df3['부번']==6.0), ['건축년도']] = 2022

df3.loc[(df3['자치구명']=='동대문구')&(df3['법정동명']=='장안동')&(df3['본번']==106.0)&(df3['부번']==26.0), ['건축년도']] = 2022

df3.loc[(df3['자치구명']=='동대문구')&(df3['법정동명']=='장안동')&(df3['본번']==417.0)&(df3['부번']==2.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='동대문구')&(df3['법정동명']=='장안동')&(df3['본번']==382.0)&(df3['부번']==3.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='동대문구')&(df3['법정동명']=='장안동')&(df3['본번']==382.0)&(df3['부번']==4.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='동대문구')&(df3['법정동명']=='장안동')&(df3['본번']==372.0)&(df3['부번']==8.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='동대문구')&(df3['법정동명']=='장안동')&(df3['본번']==346.0)&(df3['부번']==2.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='동작구')&(df3['법정동명']=='대방동')&(df3['본번']==20.0)&(df3['부번']==7.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='동작구')&(df3['법정동명']=='대방동')&(df3['본번']==394.0)&(df3['부번']==26.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='마포구')&(df3['법정동명']=='공덕동')&(df3['본번']==16.0)&(df3['부번']==10.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='서대문구')&(df3['법정동명']=='북가좌동')&(df3['본번']==351.0)&(df3['부번']==16.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='서초구')&(df3['법정동명']=='신원동')&(df3['건물명']=='해피트리앤'), ['본번']] = 659

df3.loc[(df3['자치구명']=='중랑구')&(df3['법정동명']=='상봉동')&(df3['본번']==127.0)&(df3['부번']==18.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='중랑구')&(df3['법정동명']=='면목동')&(df3['본번']==90.0)&(df3['부번']==32.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='중랑구')&(df3['법정동명']=='면목동')&(df3['본번']==177.0)&(df3['부번']==45.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='중랑구')&(df3['법정동명']=='면목동')&(df3['본번']==90.0)&(df3['부번']==25.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='중랑구')&(df3['법정동명']=='면목동')&(df3['본번']==117.0)&(df3['부번']==4.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='중랑구')&(df3['법정동명']=='망우동')&(df3['건물명']=='신내역 힐데스하임참좋은'), ['본번']] = 598

df3.loc[(df3['자치구명']=='중랑구')&(df3['법정동명']=='망우동')&(df3['건물명']=='신내역 금강펜테리움 센트럴파크'), ['본번']] = 610

df3.loc[(df3['자치구명']=='중구')&(df3['법정동명']=='황학동')&(df3['본번']==1153.0)&(df3['부번']==0), ['건축년도']] = 2022

df3.loc[(df3['자치구명']=='중구')&(df3['법정동명']=='황학동')&(df3['본번']==1496.0)&(df3['부번']==0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='은평구')&(df3['법정동명']=='진관동')&(df3['본번']==100.0)&(df3['부번']==1), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='은평구')&(df3['법정동명']=='응암동')&(df3['본번']==117.0)&(df3['부번']==30), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='은평구')&(df3['법정동명']=='응암동')&(df3['본번']==376.0)&(df3['부번']==42.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='은평구')&(df3['법정동명']=='응암동')&(df3['본번']==112.0)&(df3['부번']==2), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='은평구')&(df3['법정동명']=='응암동')&(df3['본번']==323.0)&(df3['부번']==8), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='은평구')&(df3['법정동명']=='응암동')&(df3['본번']==81.0)&(df3['부번']==173), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='은평구')&(df3['법정동명']=='응암동')&(df3['본번']==599.0)&(df3['부번']==15.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='은평구')&(df3['법정동명']=='응암동')&(df3['본번']==126.0)&(df3['부번']==12.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='은평구')&(df3['법정동명']=='역촌동')&(df3['본번']==39.0)&(df3['부번']==3.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='은평구')&(df3['법정동명']=='역촌동')&(df3['본번']==16.0)&(df3['부번']==18.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='은평구')&(df3['법정동명']=='역촌동')&(df3['본번']==1.0)&(df3['부번']==47.0), ['건축년도']] = 2018

df3.loc[(df3['자치구명']=='은평구')&(df3['법정동명']=='신사동')&(df3['본번']==230.0)&(df3['부번']==10.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='은평구')&(df3['법정동명']=='신사동')&(df3['본번']==230.0)&(df3['부번']==4.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='은평구')&(df3['법정동명']=='수색동')&(df3['본번']==30.0)&(df3['부번']==0), ['건축년도']] = 2021

df3.loc[(df3['자치구명']=='은평구')&(df3['법정동명']=='불광동')&(df3['본번']==13.0)&(df3['부번']==23.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='은평구')&(df3['법정동명']=='불광동')&(df3['본번']==281.0)&(df3['부번']==50.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='은평구')&(df3['법정동명']=='불광동')&(df3['본번']==281.0)&(df3['부번']==68.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='은평구')&(df3['법정동명']=='대조동')&(df3['본번']==219.0)&(df3['부번']==3.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='은평구')&(df3['법정동명']=='녹번동')&(df3['본번']==81.0)&(df3['부번']==17.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='은평구')&(df3['법정동명']=='구산동')&(df3['본번']==304.0)&(df3['부번']==1.0), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='은평구')&(df3['법정동명']=='갈현동')&(df3['본번']==468.0)&(df3['부번']==5.0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='용산구')&(df3['법정동명']=='한강로2가')&(df3['본번']==422.0)&(df3['부번']==0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='영등포구')&(df3['법정동명']=='영등포동7가')&(df3['본번']==94.0)&(df3['부번']==298), ['건축년도']] = 2018

df3.loc[(df3['자치구명']=='영등포구')&(df3['법정동명']=='영등포동7가')&(df3['본번']==94.0)&(df3['부번']==355), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='영등포구')&(df3['법정동명']=='영등포동6가')&(df3['본번']==42.0)&(df3['부번']==0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='영등포구')&(df3['법정동명']=='영등포동1가')&(df3['본번']==57.0)&(df3['부번']==0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='영등포구')&(df3['법정동명']=='양평동5가')&(df3['본번']==94.0)&(df3['부번']==0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='영등포구')&(df3['법정동명']=='양평동3가')&(df3['본번']==49.0)&(df3['부번']==4), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='영등포구')&(df3['법정동명']=='신길동')&(df3['본번']==449.0)&(df3['부번']==20), ['건축년도']] = 2018

df3.loc[(df3['자치구명']=='영등포구')&(df3['법정동명']=='문래동3가')&(df3['본번']==55.0)&(df3['부번']==4), ['건축년도']] = 2004

df3.loc[(df3['자치구명']=='영등포구')&(df3['법정동명']=='당산동4가')&(df3['본번']==27.0)&(df3['부번']==5), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='영등포구')&(df3['법정동명']=='당산동3가')&(df3['본번']==395.0)&(df3['부번']==46), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='영등포구')&(df3['법정동명']=='당산동2가')&(df3['본번']==159.0)&(df3['부번']==3), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='영등포구')&(df3['법정동명']=='당산동1가')&(df3['본번']==236.0)&(df3['부번']==0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='영등포구')&(df3['법정동명']=='당산동')&(df3['본번']==121.0)&(df3['부번']==228), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='영등포구')&(df3['법정동명']=='당산동')&(df3['본번']==121.0)&(df3['부번']==137), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='양천구')&(df3['법정동명']=='신정동')&(df3['본번']==733.0)&(df3['부번']==53), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='양천구')&(df3['법정동명']=='신정동')&(df3['본번']==891.0)&(df3['부번']==25), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='양천구')&(df3['법정동명']=='목동')&(df3['본번']==607.0)&(df3['부번']==13), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='양천구')&(df3['법정동명']=='목동')&(df3['본번']==713.0)&(df3['부번']==14), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='송파구')&(df3['법정동명']=='장지동')&(df3['건물명']=='위례중앙푸르지오2단지(C1-6블럭)'), ['본번']] = 896

df3.loc[(df3['자치구명']=='송파구')&(df3['법정동명']=='오금동')&(df3['본번']==80.0)&(df3['부번']==13), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='송파구')&(df3['법정동명']=='오금동')&(df3['본번']==134.0)&(df3['부번']==9), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='송파구')&(df3['법정동명']=='마천동')&(df3['본번']==42.0)&(df3['부번']==8), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='송파구')&(df3['법정동명']=='거여동')&(df3['건물명']=='휴먼빌 시티'), ['본번']] = 605

df3.loc[(df3['자치구명']=='송파구')&(df3['법정동명']=='거여동')&(df3['건물명']=='위례신도시A1-4BL 호반써밋송파2'), ['본번']] = 607

df3.loc[(df3['자치구명']=='성북구')&(df3['법정동명']=='하월곡동')&(df3['본번']==90.0)&(df3['부번']==1995), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='성북구')&(df3['법정동명']=='장위동')&(df3['본번']==218.0)&(df3['부번']==12), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='성북구')&(df3['법정동명']=='석관동')&(df3['본번']==175.0)&(df3['부번']==8), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='성북구')&(df3['법정동명']=='석관동')&(df3['본번']==175.0)&(df3['부번']==18), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='성북구')&(df3['법정동명']=='동선동4가')&(df3['본번']==169.0)&(df3['부번']==0), ['건축년도']] = 2017

df3.loc[(df3['자치구명']=='성동구')&(df3['법정동명']=='행당동')&(df3['본번']==293.0)&(df3['부번']==8), ['건축년도']] = 2018

df3.loc[(df3['자치구명']=='성동구')&(df3['법정동명']=='성수동2가')&(df3['본번']==299.0)&(df3['부번']==175), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='성동구')&(df3['법정동명']=='성수동2가')&(df3['본번']==289.0)&(df3['부번']==167), ['건축년도']] = 2016

df3.loc[(df3['자치구명']=='성동구')&(df3['법정동명']=='성수동2가')&(df3['본번']==299.0)&(df3['부번']==29), ['건축년도']] = 2016

In [29]:
df3.shape

(1168900, 15)

In [30]:
df3[df3.isna().any(axis=1)].head()

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분명,본번,부번,건물명,물건금액(만원),면적,층,건축년도,건물용도,계약월
736677,2022,11650,서초구,11100,신원동,NaN,NaN,NaN,NaN,18000,21.0,2층 초과,2015.0,오피스텔,5.0
736678,2022,11650,서초구,11100,신원동,NaN,NaN,NaN,NaN,18000,21.0,2층 초과,2015.0,오피스텔,5.0
736679,2022,11650,서초구,11100,신원동,NaN,NaN,NaN,NaN,18000,21.0,2층 초과,2015.0,오피스텔,5.0
736680,2022,11650,서초구,11100,신원동,NaN,NaN,NaN,NaN,17500,21.0,2층 초과,2015.0,오피스텔,10.0
736681,2022,11650,서초구,11100,신원동,NaN,NaN,NaN,NaN,17500,21.0,2층 초과,2015.0,오피스텔,10.0

In [31]:
df3 = df3.dropna()

df3.shape

(1168744, 15)

In [33]:
df3['평균물건금액(만원)'] = df3.groupby(['자치구명', '법정동명', '본번', '부번', '건축년도','층','면적','접수연도','계약월'])['물건금액(만원)'].transform('mean')
df3['본번'] = df3['본번'].astype(int)
df3['부번'] = df3['부번'].astype(int)
df3['면적'] = df3['면적'].astype(int)
df3['건축년도'] = df3['건축년도'].astype(int)
df3['계약월'] = df3['계약월'].astype(int)
df3['평균물건금액(만원)'] = df3['평균물건금액(만원)'].astype(int)
print(df3.shape)
df3.head()

(1168744, 16)

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분명,본번,부번,건물명,물건금액(만원),면적,층,건축년도,건물용도,계약월,평균물건금액(만원)
0,2023,11680,강남구,10300,개포동,대지,1237,8,YH빌리지,37000,28,2층 이하,2017,오피스텔,2,37000
1,2022,11680,강남구,10300,개포동,대지,1237,8,YH빌리지,40000,31,2층 이하,2017,오피스텔,1,40000
2,2023,11680,강남구,10300,개포동,대지,1237,8,YH빌리지,40000,37,2층 이하,2017,오피스텔,7,40000
3,2011,11680,강남구,10300,개포동,대지,655,2,개포2차현대아파트(220),65500,78,2층 초과,1988,아파트,7,64750
4,2011,11680,강남구,10300,개포동,대지,655,2,개포2차현대아파트(220),64000,78,2층 초과,1988,아파트,7,64750

In [36]:
# 전세
df4 = data_4.copy()

grouped = df4.groupby(['자치구명', '법정동명', '본번', '부번'])

# 각 그룹의 첫 번째 '건물명'을 가져옵니다.
first_building_names = grouped['건물명'].transform('first')

# '건물명' 컬럼을 첫 번째 '건물명'으로 업데이트합니다.
df4['건물명'] = first_building_names
df4['건물명'] = df4['건물명'].str.strip('\t')

def months(x):
    a = x.split('~')
    if len(a[0]) == 7:
        p = dt.strptime(a[0], '%Y.%m')
    else:
        p = dt.strptime('20'+a[0], '%Y.%m')
    if len(a[1]) == 7:
        f = dt.strptime(a[1], '%Y.%m')
    else:
        f = dt.strptime('20'+a[1], '%Y.%m')
    return (f.year - p.year)*12 + f.month - p.month

df4['계약기간'] = df4['계약기간'].fillna(value = 0)
df4['계약개월'] = df4['계약기간'].map(lambda x: float(months(x)) if x != 0 else x)
df4['계약기간'] = df4['계약기간'].map(lambda x: np.nan if x == 0 else x)
df4['계약개월'] = df4['계약개월'].map(lambda x: np.nan if x == 0 else x)
df4['계약월'] = (df4['계약일']%10000//100).astype('float64')
df4['임대면적(㎡)'] = df4['임대면적(㎡)'].map(lambda x: round(x) if ~np.isnan(x)  else x)
df4.loc[(df4['전월세 구분']=='월세') & (df4['계약개월'] >= 36.0) & (df4['계약개월']*df4['임대료(만원)'] > df4['보증금(만원)']),'전월세 구분'] = '전세'
df4 = df4.loc[~((df4['전월세 구분']=='월세') & (df4['계약개월'] >= 36.0) & ((df4['계약개월']*df4['임대료(만원)'] <= df4['보증금(만원)'])))]
df4 = df4.loc[~(df4['보증금(만원)']<=3400)]
df4.drop(columns=['계약갱신권사용여부', '종전 보증금', '종전 임대료', '계약개월', '계약기간', '지번구분', '신규갱신여부','계약일'],inplace = True)
df4 = df4.loc[~(df4['전월세 구분']=='월세')]
df4 = df4.drop(df4[(df4['건물용도']=='연립다세대') | (df4['건물용도']=='단독다가구')].index)
df4.rename(columns={"임대면적(㎡)": "면적"},inplace = True)
df4 = df4.sort_values(by=['접수연도'], ascending=True)
df4 = df4.sort_values(by=['자치구명', '법정동명', '건물명', '면적']).reset_index(drop=True)
df4['층'] = df4['층'].map(lambda x: '2층 초과' if x >2 else ('2층 이하' if x<=2 else x)) 
print(df4.isna().sum())

접수연도          0
자치구코드         0
자치구명          0
법정동코드         3
법정동명          4
지번구분명       209
본번          209
부번          209
층            24
전월세 구분        0
면적           24
보증금(만원)       0
임대료(만원)       0
건물명         210
건축년도       6341
건물용도          0
계약월           0
dtype: int64

In [38]:
sett = set(df4['건물명']) & set(df3['건물명'])
df_m = df3.loc[df3['건물명'].isin(sett)]

def tc(x):
    if len(x) == 6:
        a = x.split('-')
        return '-0'.join(a)
    else:
        return x

df_m = df_m.groupby(['자치구명', '법정동명', '본번', '부번', '건물명', '건축년도', '면적', '층', '접수연도', '계약월', '건물용도'])['물건금액(만원)'].agg(['mean']).reset_index()
df_m = df_m.sort_values(['자치구명', '법정동명', '본번', '부번', '건물명', '건축년도', '면적', '층']).reset_index(drop=True)
df_m = df_m.rename(columns={'mean': '월별평균 매매가'})
df_m = df_m.loc[~((df_m['접수연도']==2023) & (df_m['계약월']>7))]
df_m['계약월'] = df_m['접수연도'].astype(str) + '-' + df_m['계약월'].astype(str)
df_m['계약월'] = df_m['계약월'].apply(lambda x: tc(x))
df_m.drop(columns=['접수연도'],inplace = True)
df_m['주소'] = df_m['자치구명'] + ' ' + df_m['법정동명'] + ' ' + df_m['본번'].astype(str) + '-' + df_m['부번'].astype(str)
cols_m = df_m.columns.tolist()
cols_m = cols_m[-1:] + cols_m[:-1]
df_m = df_m[cols_m]
df_m.drop(columns=['자치구명', '법정동명', '본번', '부번'],inplace = True)
print(df_m.shape)
display(df_m.head())

(620060, 8)

             주소         건물명  건축년도  면적      층      계약월 건물용도  월별평균 매매가
0  강남구 개포동 12-0  성원대치2단지아파트  1992  33  2층 이하  2011-02  아파트   30650.0
1  강남구 개포동 12-0  성원대치2단지아파트  1992  33  2층 이하  2011-03  아파트   30000.0
2  강남구 개포동 12-0  성원대치2단지아파트  1992  33  2층 이하  2011-06  아파트   32000.0
3  강남구 개포동 12-0  성원대치2단지아파트  1992  33  2층 이하  2011-12  아파트   28250.0
4  강남구 개포동 12-0  성원대치2단지아파트  1992  33  2층 이하  2012-01  아파트   27100.0

In [42]:
df_m['계약월'].unique()

array(['2011-02', '2011-03', '2011-06', '2011-12', '2012-01', '2012-09',
       '2013-02', '2013-09', '2013-11', '2014-01', '2014-02', '2014-03',
       '2014-07', '2014-09', '2015-02', '2015-03', '2015-04', '2015-05',
       '2015-06', '2015-07', '2015-11', '2016-03', '2016-04', '2016-05',
       '2016-09', '2016-10', '2017-04', '2017-05', '2017-07', '2017-10',
       '2018-02', '2018-08', '2020-08', '2020-09', '2020-10', '2020-12',
       '2023-01', '2023-02', '2011-01', '2011-04', '2011-05', '2011-09',
       '2011-10', '2012-02', '2012-03', '2012-05', '2012-06', '2012-07',
       '2012-08', '2012-10', '2013-03', '2013-04', '2013-05', '2013-06',
       '2013-08', '2013-10', '2013-12', '2014-04', '2014-05', '2014-06',
       '2014-08', '2014-10', '2014-11', '2014-12', '2015-01', '2015-08',
       '2015-09', '2015-10', '2015-12', '2016-01', '2016-02', '2016-06',
       '2016-07', '2016-08', '2016-11', '2016-12', '2017-02', '2017-03',
       '2017-06', '2017-08', '2017-09', '2017-11', '2017-12', '2018-01',
       '2018-04', '2018-05', '2018-07', '2018-09', '2018-11', '2018-12',
       '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08',
       '2019-09', '2019-10', '2019-11', '2019-12', '2020-02', '2020-03',
       '2020-04', '2020-05', '2020-06', '2020-07', '2020-11', '2021-01',
       '2021-02', '2021-03', '2021-05', '2021-06', '2021-07', '2021-08',
       '2021-09', '2021-12', '2022-01', '2022-03', '2022-04', '2022-06',
       '2022-09', '2022-10', '2022-11', '2023-03', '2023-04', '2023-05',
       '2023-06', '2023-07', '2012-11', '2013-01', '2013-07', '2020-01',
       '2021-10', '2011-07', '2011-08', '2012-12', '2017-01', '2018-03',
       '2018-06', '2019-01', '2021-04', '2022-07', '2022-08', '2011-11',
       '2018-10', '2021-11', '2012-04', '2019-02', '2022-05', '2022-12',
       '2022-02'], dtype=object)

In [39]:
df1 = data_1.copy()

def tc2(x):
    a = x.strip('월').split('년 ')
    return '-'.join(a)

df1.rename(columns={"Unnamed: 1": "자치구명"}, inplace=True)
df1 = df1.loc[:, ~df1.columns.str.contains('^Unnamed')]
df1.drop(['지 역'], axis = 1, inplace = True)
df1.drop([0,1],inplace = True)
df1 = df1.reset_index(drop=True)
df1 = df1.rename(index = df1['자치구명'])
df1.drop(['자치구명'], axis = 1, inplace = True)
df1.columns = df1.columns.map(tc2)
df1.head()

,2005-01,2005-02,2005-03,2005-04,2005-05,2005-06,2005-07,2005-08,2005-09,2005-10,2005-11,2005-12,2006-01,2006-02,2006-03,2006-04,2006-05,2006-06,2006-07,2006-08,2006-09,2006-10,2006-11,2006-12,2007-01,2007-02,2007-03,2007-04,2007-05,2007-06,2007-07,2007-08,2007-09,2007-10,2007-11,2007-12,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,2008-11,2008-12,2009-01,2009-02,2009-03,2009-04,2009-05,2009-06,2009-07,2009-08,2009-09,2009-10,2009-11,2009-12,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,2010-09,2010-10,2010-11,2010-12,2011-01,2011-02,2011-03,2011-04,2011-05,2011-06,2011-07,2011-08,2011-09,2011-10,2011-11,2011-12,2012-01,2012-02,2012-03,2012-04,2012-05,2012-06,2012-07,2012-08,2012-09,2012-10,2012-11,2012-12,2013-01,2013-02,2013-03,2013-04,2013-05,2013-06,2013-07,2013-08,2013-09,2013-10,2013-11,2013-12,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,2014-08,2014-09,2014-10,2014-11,2014-12,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,2015-07,2015-08,2015-09,2015-10,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09,2016-10,2016-11,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12,2021-01,2021-02,2021-03,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07
종로구,57.297,57.709,58.077,58.108,58.225,58.454,58.439,58.788,59.637,59.966,59.96,60.231,60.231,60.644,61.451,61.502,61.507,61.709,61.513,61.666,62.257,63.128,65.881,67.128,68.05,68.552,68.791,68.947,69.051,69.485,69.728,69.794,70.022,70.172,70.275,70.735,71.267,71.612,72.25,73.71,73.848,74.24,75.244,75.776,76.748,77.191,78.351,78.076,78.01,77.832,78.235,79.055,79.137,79.353,79.281,79.56,80.613,81.242,81.143,81.22,81.358,81.498,81.56,81.495,81.438,81.46,81.268,80.973,80.94,80.903,80.934,80.879,80.879,80.96,81.446,81.45,81.341,81.428,81.328,81.787,81.786,81.794,81.713,81.685,81.685,81.685,81.685,81.685,81.685,81.642,81.642,81.759,81.695,81.46,81.411,81.408,81.408,81.408,81.337,81.314,81.242,80.971,80.785,80.627,80.596,80.759,80.819,80.858,80.873,80.97,80.979,80.927,80.887,80.826,80.808,80.825,81.042,81.077,81.076,81.046,81.064,81.09,81.284,81.664,81.895,82.099,82.25,82.409,82.554,82.684,82.923,83.014,83.055,83.068,83.094,83.138,83.262,83.418,83.649,83.933,84.099,84.386,84.704,84.867,84.983,85.046,85.251,85.519,85.716,86.119,86.591,87.188,87.29,87.535,87.901,88.098,88.784,89.638,90.206,90.909,91.413,91.945,92.544,93.258,94.199,95.035,95.347,95.393,95.335,95.267,95.263,95.233,95.174,95.156,95.107,95.212,95.415,95.658,95.896,96.543,97.144,97.242,97.33,97.303,97.202,97.261,98.045,98.446,98.688,98.718,98.812,98.992,99.181,99.529,99.646,99.768,99.834,100,100.39,101.182,101.847,102.756,103.487,103.653,103.623,103.378,103.227,103.176,103.146,103.01,102.618,101.845,100.759,99.582,98.155,95.954,94.159,93.286,92.599,92.216,92.003,91.974,92.053
중구,60.07,60.445,60.613,60.765,60.846,60.877,62.275,62.64,63.024,63.453,63.12,62.936,63.38,63.506,64.275,64.97,65.227,65.958,66.44,66.688,67.072,69.826,71.882,74.318,75.637,76.35,76.643,76.715,77.168,77.24,77.726,77.855,78.355,78.981,78.959,79.229,80.263,80.612,81.128,82.178,83.142,83.637,83.656,83.719,83.719,83.523,82.926,82.314,81.581,82.001,82.444,82.561,82.951,83.328,83.679,83.679,84.549,84.582,84.387,84.387,84.347,84.759,84.931,84.881,84.724,84.597,84.387,84.214,84.142,84.163,84.188,84.347,84.382,84.492,84.606,84.625,84.625,84.625,84.561,84.402,84.382,84.382,84.353,84.214,84.214,84.175,83.497,83.421,82.968,81.558,80.94,80.286,79.228,78.784,78.414,77.936,77.753,77.793,77.461,77.495,77.822,78.022,77.379,76.694,76.665,76.88,76.868,77.083,77.203,77.148,77.372,77.294,77.324,77.258,77.311,77.336,77.465,77.688,77.979,78.102,78.201,78.525,78.906,79.371,79.565,79.884,80.059,80.262,80.506,80.949,81.164,81.484,81.54,81.59,81.62,81.666,81.747,81.871,82.015,82.283,82.448,82.631,82.861,82.936,82.976,83.007,83.11,83.261,83.464,83.926,84.357,84.863,85.005,85.221,85.652,86.208,86.672,87.739,88.863,89.501,90.116,90.645,91.302,92.431,93.792,94.592,94.926,95.133,94.939,94.705,94.484,94.325,94.208,94.148,94.177,94.365,94.571,95.15,95.659,96.055,96.246,96.364,96.468,96.447,96.389,96.394,97.074,97.473,97.671,97.772,97.896,98.128,98.379,98.963,99.21,99.376,99.506,100,100.377,101.003,101.655,102.575,103.311,103.463,103.473,103.39,103.256,103.202,103.143,103.002,102.672,101.875,100.869,99.543,97.526,93.823,91.849,90.816,90.031,89.508,89.441,89.293,89.391
용산구,53.338,53.575,54.445,55.595,56.714,57.818,59.95,60.334,60.568,60.583,60.587,60.796,61.49,62.821,63.863,67.148,69.44,70.579,71.045,71.291,71.592,72.925,75.884,78.171,79.379,79.69,79.815,80.21,80.145,81.281,81.668,82.082,82.57,83.363,84.058,84.456,84.971,85.871,86.846,88.138,88.68,89.351,90.285,90.547,90.806,90.987,90.072,88.127,87.279,87.038,86.655,86.668,86.791,87.066,87.634,87.789,88.578,88.873,89.121,89.271,89.29,89.36,89.468,89.55,89.465,89.038,89.206,88.685,88.384,88.206,87.719,87.8,87.862,87.97,88.364,88.33,88.303,88.276,88.257,88.123,87.945,87.804,87.754,87.6,87.6,87.493,87.12,86.989,86.94,86.784,86.559,86.003,85.431,84.671,83.91,83.595,83.303,83.072,82.766,81.743,81.449,81.222,80.88,80.37,80.087,79.789,79.656,79.471,79.124,78.78,78.609,78.507,78.338,78.251,78.181,78.108,78.129,78.326,78.39,78.338,78.319,78.409,78.555,78.707,78.858,78.982,79.158,79.307,79.484,79.727,79.957,80.05,80.095,80.124,80.156,80.274,80.372,80.565,80.859,81.113,81.34,81.745,82.108,82.279,82.433,82.482,82.686,82.984,83.321,83.926,84.401,84.988,85.041,85.157,85.361,85.545,86.749,89.234,90.476,90.906,91.257,91.527,92.079,93.702,95.048,95.289,95.247,94.987,94.544,94.263,93.944,93.643,93.496,93.37,93.432,93.577,93.78,94.239,94.805,95.508,95.806,95.948,96.036,95.98,95.823,95.877,96.595,97.12,97.441,97.535,97.625,97.847,98.163,98.704,98.99,99.234,99.522,100,100.636,101.598,102.569,103.852,105.02,105.513,105.609,105.565,105.53,105.656,105.839,105.856,105.784,105.69,105.229,104.472,102.906,100.288,98.512,97.678,96.977,96.782,96.925,97.027,97.327
성동구,52.365,52.56,52.737,53.302,53.862,54.181,56.226,57.311,57.401,57.707,58.207,58.564,58.861,59.673,60.332,61.16,62.207,63.024,63.602,64.177,64.33,65.858,69.36,72.025,73.197,74.464,74.847,75.239,75.312,75.559,75.594,75.683,75.963,76.005,76.315,76.613,76.538,76.712,77.759,78.367,78.853,79.081,79.564,79.565,79.883,79.84,79.691,79.049,78.743,78.554,78.505,78.705,78.657,78.714,78.721,78.762,79.025,79.036,79.093,79.097,79.113,79.219,79.222,79.202,78.944,79.061,78.869,78.8,78.786,78.572,78.37,78.376,78.452,78.538,78.603,78.654,78.719,78.697,78.661,78.567,78.593,78.702,78.682,78.667,78.397,78.27,77.828,77.687,77.465,77.066,76.72,76.034,75.504,74.82,73.983,73.177,72.793,72.427,72.052,71.713,72.305,72.496,72.353,72.175,72.007,72.446,72.618,72.712,73.212,73.779,74.201,74.354,74.31,74.314,74.228,74.222,74.317,74.479,74.523,74.571,74.651,75.003,75.468,76.211,76.661,77.149,77.761,78.54,79.139,79.918,80.527,80.831,80.849,80.893,80.923,80.988,81.058,81.145,81.178,81.367,81.58,82.001,82.385,82.511,82.492,82.462,82.482,82.679,83.198,84.074,84.773,85.073,84.763,84.864,85.447,86.808,88.31,90.184,91.166,91.319,91.171,91.27,91.725,92.509,94.186,94.51,94.585,94.47,94.255,94.042,93.693,93.215,92.499,92.154,92.188,92.384,92.684,93.329,94.058,94.88,95.162,95.308,95.44,95.419,95.354,95.514,96.395,96.982,97.227,97.346,97.444,97.7,98.063,98.737,99.107,99.312,99.537,100,100.464,101.011,101.477,101.881,102.153,102.25,102.251,102.207,102.145,102.112,102.071,102.034,101.958,101.834,101.56,100.925,99.547,97.639,96.495,95.64,94.866,94.419,94.401,94.459,94.874
광진구,59.311,59.453,59.831,60.076,60.312,60.661,61.085,61.476,61.539,61.557,61.728,62.03,62.358,63.108,63.459,64.552,65.933,66.982,67.602,68.301,69.436,71.905,75.9,78.806,82.057,82.213,82.393,82.287,81.924,81.807,81.642,81.725,82.071,82.144,82.232,82.274,82.42,82.494,82.835,83.242,83.879,83.955,84.066,84.138,84.131,84.198,83.333,80.299,79.694,79.575,79.558,79.429,79.311,79.346,79.715,80.088,80.692,80.772,81.203,81.237,81.32,81.558,81.683,81.699,81.631,81.527,81.437,81.301,81.264,81.213,80.842,80.892,81.092,81.377,81.406,81.413,81.453,81.435,81.412,81.394,81.376,81.388,81.366,81.305,81.075,81.075,80.895,80.677,80.297,79.877,79.663,79.452,79.148,78.707,77.922,77.503,76.776,76.372,75.926,75.861,75.163,74.832,74.461,73.999,73.903,74.048,74.179,74.155,74.383,74.621,74.845,74.822,74.815,74.788,74.695,74.622,74.781,75.06,75.276,75.416,75.573,75.787,76.079,76.509,77.006,77.276,77.743,78.424,79.108,79.767,80.442,80.928,80.949,80.977,80.969,81.015,81.062,81.127,81.231,81.439,81.641,82.007,82.466,82.712,82.726,82.721,82.721,82.772,83.212,83.947,84.489,85.031,85.144,85.546,86.071,87.42,89.077,90.611,91.754,92.198,92.484,92.375,92.372,92.523,93.518,93.799,93.96,93.855,93.685,93.402,93.194,92.998,92.943,92.907,92.981,93.132,93.339,94.043,94.5,95.121,95.358,95.396,95.393,95.347,95.25,95.41,96.164,96.636,96.977,97.106,97.201,97.425,97.795,98.565,99.051,99.362,99.623,100,100.533,101.052,101.37,101.696,101.924,102.013,102,101.956,101.904,101.856,101.839,101.751,101.621,101.424,101.174,100.613,99.299,97.091,95.673,94.408,93.035,92.226,91.763,91.792,92.052

In [40]:
df_j = df4.loc[df4['건물명'].isin(sett)]
df_j = df_j.dropna(subset = ['층', '면적'])

df_j['법정동코드'] = df_j['법정동코드'].astype(int)
df_j['본번'] = df_j['본번'].astype(int)
df_j['부번'] = df_j['부번'].astype(int)
df_j['면적'] = df_j['면적'].astype(int)
df_j['계약월'] = df_j['계약월'].astype(int)

df_j = df_j.groupby(['자치구명', '법정동명', '본번', '부번', '건물명', '건축년도', '면적', '층', '접수연도', '계약월', '건물용도'])['보증금(만원)'].agg(['mean']).reset_index()
df_j = df_j.rename(columns={'mean': '월별평균 전세가'})
df_j = df_j.loc[~((df_j['접수연도']==2023) & (df_j['계약월']>7))]
df_j['계약월'] = df_j['접수연도'].astype(str) + '-' + df_j['계약월'].astype(str)
df_j['계약월'] = df_j['계약월'].apply(lambda x: tc(x))
df_j.drop(columns=['접수연도'],inplace = True)
df_j['주소'] = df_j['자치구명'] + ' ' + df_j['법정동명'] + ' ' + df_j['본번'].astype(str) + '-' + df_j['부번'].astype(str)
cols_j = df_j.columns.tolist()
cols_j = cols_j[-1:] + cols_j[:-1]
df_j = df_j[cols_j]
df_j.drop(columns=['자치구명', '법정동명', '본번', '부번'],inplace = True)
print(df_j.shape)
display(df_j.head())

(843938, 8)

             주소         건물명    건축년도  면적      층      계약월 건물용도  월별평균 전세가
0  강남구 개포동 12-0  성원대치2단지아파트  1992.0  33  2층 이하  2011-01  아파트   14100.0
1  강남구 개포동 12-0  성원대치2단지아파트  1992.0  33  2층 이하  2011-03  아파트   13000.0
2  강남구 개포동 12-0  성원대치2단지아파트  1992.0  33  2층 이하  2011-04  아파트   12875.0
3  강남구 개포동 12-0  성원대치2단지아파트  1992.0  33  2층 이하  2011-05  아파트   14000.0
4  강남구 개포동 12-0  성원대치2단지아파트  1992.0  33  2층 이하  2011-06  아파트   13700.0

In [41]:
df2 = data_2.copy()
df2.rename(columns={"Unnamed: 1": "자치구명"}, inplace=True)
df2 = df2.loc[:, ~df2.columns.str.contains('^Unnamed')]
df2.drop([0,1],inplace = True)
df2.drop(['지 역'], axis = 1, inplace = True)
df2 = df2.reset_index(drop=True)
df2 = df2.rename(index = df2['자치구명'])
df2.drop(['자치구명'], axis = 1, inplace = True)
df2.columns = df2.columns.map(tc2)
df2.head()

,2011-01,2011-02,2011-03,2011-04,2011-05,2011-06,2011-07,2011-08,2011-09,2011-10,2011-11,2011-12,2012-01,2012-02,2012-03,2012-04,2012-05,2012-06,2012-07,2012-08,2012-09,2012-10,2012-11,2012-12,2013-01,2013-02,2013-03,2013-04,2013-05,2013-06,2013-07,2013-08,2013-09,2013-10,2013-11,2013-12,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,2014-08,2014-09,2014-10,2014-11,2014-12,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,2015-07,2015-08,2015-09,2015-10,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09,2016-10,2016-11,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12,2021-01,2021-02,2021-03,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07
종로구,68.513,69.141,70.74,71.407,71.677,71.836,71.987,72.714,74.109,75.204,75.612,75.605,75.605,75.605,75.605,75.796,75.796,75.796,75.84,76.236,76.456,76.554,76.623,76.64,76.709,76.777,77.382,77.822,78.057,78.296,78.731,79.045,79.537,80.065,80.3,80.416,80.919,81.4,81.586,81.711,81.73,81.722,81.718,81.863,82.374,82.618,82.707,82.77,82.913,83.047,83.691,84.221,84.487,84.801,85.095,85.284,85.739,86.185,86.713,86.905,87.02,87.106,87.186,87.318,87.706,87.939,88.414,88.812,89.019,89.44,89.899,90.175,90.336,90.516,90.804,91.115,91.355,91.696,92.166,92.64,92.799,93.012,93.367,93.573,94.095,94.538,95.086,95.24,95.543,96.237,96.561,96.659,97.273,97.383,97.779,97.606,97.443,97.196,96.274,95.882,95.668,95.625,95.545,95.525,95.594,95.731,95.998,96.374,96.813,96.952,97.132,97.222,97.31,97.505,97.766,97.881,98.062,98.219,98.428,99.066,99.505,99.759,99.822,99.883,99.874,100,100.344,101.096,101.77,102.58,103.179,103.379,103.366,103.109,103.002,102.908,102.837,102.704,102.469,101.921,100.899,99.5,97.6,94.593,91.927,89.809,87.845,87.042,86.828,86.909,86.931
중구,64.385,64.881,66.846,69.521,70.042,70.042,71,71.619,72.17,72.44,72.436,72.325,72.325,72.325,71.965,71.965,71.534,70.212,69.962,69.945,69.755,70.019,71.21,71.844,72.07,72.606,73.543,74.475,74.919,75.152,75.551,76.691,77.148,78.308,80.06,80.899,81.546,81.722,82.114,82.185,82.286,82.532,82.85,82.999,83.332,83.947,84.408,84.838,84.98,85.514,86.086,86.591,86.761,87.208,87.454,87.752,88.109,88.71,89.088,89.536,89.619,89.713,89.821,89.935,90.065,90.269,90.528,90.826,90.964,91.181,91.488,91.606,91.703,91.781,91.925,92.127,92.227,92.428,92.804,93.162,93.583,93.878,94.314,94.839,95.016,95.485,95.675,95.614,95.594,95.565,95.667,95.914,96.249,96.778,96.816,96.784,96.595,96.35,96.087,95.984,95.892,95.818,95.688,95.581,95.673,95.832,96.009,96.181,96.483,96.707,96.835,96.848,96.859,96.903,97.113,97.505,97.799,98.085,98.406,99.037,99.459,99.737,99.851,99.897,99.922,100,100.316,100.893,101.623,102.652,103.379,103.541,103.526,103.466,103.31,103.175,103.146,103.083,102.899,102.535,101.555,100.12,97.508,92.519,89.201,87.109,85.555,84.867,84.535,84.398,84.522
용산구,65.28,66.18,66.99,68.634,68.519,68.797,68.973,69.757,71.233,71.457,71.63,71.718,71.718,71.736,71.945,71.967,72.061,72.007,71.995,72.183,72.6,73.099,73.621,73.919,74.286,74.539,75.02,75.973,76.443,76.754,77.091,77.864,78.482,79.49,80.207,80.758,81.286,81.742,82.381,83.007,83.415,83.716,83.949,84.144,84.435,84.648,84.86,85.124,85.476,85.871,86.276,86.841,87.171,87.526,87.932,88.28,88.484,89.031,89.41,89.642,89.841,90.063,90.307,90.492,90.769,90.98,91.305,91.456,91.667,92,92.355,92.576,92.775,92.896,93.099,93.349,93.679,93.8,93.809,93.803,93.821,93.888,93.931,93.909,93.813,93.928,93.962,93.973,93.959,93.988,93.948,94.134,94.255,94.37,94.007,93.611,93.297,92.704,92.435,92.147,91.947,91.802,91.744,91.792,91.838,92.047,92.342,92.842,93.188,93.411,93.563,93.752,93.836,94.077,94.373,94.89,95.321,95.736,96.223,97.308,98.107,98.768,99.191,99.447,99.611,100,100.708,101.456,102.187,102.944,103.609,103.89,103.944,103.874,103.727,103.642,103.608,103.492,103.368,103.066,102.612,101.449,98.548,94.021,89.407,86.623,85.164,84.532,84.356,84.275,84.515
성동구,55.275,57.232,58.219,59.131,59.212,59.206,59.632,61.209,62.029,62.989,63.336,63.284,62.554,62.56,62.362,62.589,62.261,62.537,62.509,62.491,62.595,63.076,63.239,63.126,63.677,64.954,65.86,66.407,66.852,67.141,68.044,69.008,69.892,70.615,71.434,72.17,73.561,74.806,76.002,77.064,77.005,77.06,77.126,77.26,77.378,77.653,77.923,78.124,78.364,78.998,79.997,81.736,82.226,82.896,83.78,84.814,85.651,86.778,87.741,88.639,88.998,89.109,89.251,89.465,89.683,89.955,90.166,90.347,90.473,90.665,90.791,90.816,90.695,90.644,90.709,90.887,91.141,91.33,91.476,91.463,91.663,91.778,91.987,92.449,92.992,93.168,93.313,92.817,92.482,92.204,92.019,91.877,91.937,92.37,92.676,92.81,92.552,92.146,91.726,91.478,91.277,91.164,91.217,91.369,91.535,91.958,92.4,92.92,93.238,93.451,93.681,93.886,93.94,94.171,94.575,95.257,95.784,96.331,96.757,97.556,98.189,98.666,99.012,99.309,99.542,100,100.374,100.811,101.234,101.83,102.304,102.586,102.654,102.675,102.617,102.642,102.68,102.726,102.689,102.57,102.257,101.369,99.225,94.929,90.768,87.347,85.189,84.379,84.249,84.297,84.774
광진구,59.05,60.444,61.319,62.154,62.307,62.558,62.8,64.311,65.192,66.099,66.167,66.14,66.096,66.096,66.485,66.509,66.43,66.28,66.336,66.19,66.32,66.789,67.366,67.497,67.717,68.492,68.786,69.52,70.035,70.465,71.329,71.969,73.225,73.905,74.361,74.939,75.975,76.781,77.612,78.032,78.253,78.324,78.532,78.755,79.159,79.653,80.086,80.439,80.747,81.106,81.47,82.271,83.053,83.651,84.576,85.61,86.713,87.933,89.207,90.091,90.316,90.626,90.864,91.05,91.176,91.159,91.158,91.332,91.376,91.563,91.925,92.056,92.085,92.078,92.049,91.958,91.961,92.198,92.443,92.606,92.784,92.899,93.278,93.958,94.717,95.315,95.319,95.163,94.842,94.65,94.301,94.218,94.237,94.327,94.358,94.353,94.051,93.655,93.342,93.05,93.005,93.005,93.092,93.306,93.559,93.874,94.163,94.654,94.981,95.079,95.147,95.243,95.269,95.435,95.688,96.216,96.7,97.014,97.294,98.024,98.479,99.036,99.276,99.502,99.67,100,100.367,100.838,101.573,102.121,102.48,102.795,102.842,102.708,102.633,102.578,102.516,102.41,102.281,102.041,101.67,100.763,98.845,95.183,91.31,88.064,85.282,84.151,83.491,83.518,83.777

df_m, df1 매매

df_j, df2 전세

In [ ]:
from datetime import datetime, timedelta


# 더미 데이터프레임 생성
data = {
    '주소': [0],
    '건물명': [0],
    '건축년도': [0],
    '면적': [0],
    '층': [0],
    '계약월': [0]
}

In [ ]:
len(list(sett))

In [ ]:
df_dummy = pd.DataFrame(data)

for i in range(len(list(sett))):
    print(i)
    temp = df_m.loc[df_m['건물명'] == list(sett)[i]]
    area = list(set(temp['면적']))
    location = list(set(temp['주소']))
    built_y = list(set(temp['건축년도']))
    floor = list(set(temp['층']))


    for j in area:
        for k in floor:
            for l in location:
                for h in built_y:
                    try:
                        # 시작 날짜와 종료 날짜 설정
                        start_date = datetime.strptime(temp.loc[(temp['면적'] == j) & (temp['층'] == k) & (temp['주소'] == l) & (temp['건축년도'] == h)]['계약월'].min(), '%Y-%m')
                        end_date = datetime.strptime('2023-07', '%Y-%m')

                        # 날짜 범위 생성
                        date_range = pd.date_range(start=start_date, end=end_date + timedelta(days=31), freq='M')  # 월 단위로 생성

                        # 날짜 범위를 컬럼으로 갖는 데이터프레임 생성
                        date_df = pd.DataFrame({'계약월': date_range})
                        date_df['계약월'] = date_df['계약월'].apply(lambda x: str(x)[:7])

                        df_adj = date_df.merge(temp.loc[(temp['면적'] == j) & (temp['층'] == k) & (temp['주소'] == l) & (temp['건축년도'] == h)], how='left', on='계약월')
                        m_data = df1.loc[l.split()[0],list(df_adj['계약월'])]

                        df_adj['건물명'] = list(sett)[i]
                        df_adj['면적'] = j
                        df_adj['층'] = k
                        df_adj['주소'] = l
                        df_adj['건축년도'] = h
                        df_adj['건물용도'] = temp['건물용도'].iloc[0]
                        df_adj['매매지수'] = list(m_data)
                        df_adj['월별평균 매매가'] = df_adj['월별평균 매매가']

                        df_dummy = pd.concat([df_dummy, df_adj])
                    except TypeError:
                        pass

df_m = df_dummy.iloc[1:, :]

df_m.to_csv('매매가평균1.csv', index=False)

In [ ]:
df_dummy = pd.DataFrame(data)

for i in range(len(list(sett))):
    print(i)
    temp = df_j.loc[df_j['건물명'] == list(sett)[i]]
    area = list(set(temp['면적']))
    location = list(set(temp['주소']))
    built_y = list(set(temp['건축년도']))
    floor = list(set(temp['층']))


    for j in area:
        for k in floor:
            for l in location:
                for h in built_y:
                    try:
                        # 시작 날짜와 종료 날짜 설정
                        start_date = datetime.strptime(temp.loc[(temp['면적'] == j) & (temp['층'] == k) & (temp['주소'] == l) & (temp['건축년도'] == h)]['계약월'].min(), '%Y-%m')
                        end_date = datetime.strptime('2023-07', '%Y-%m')

                        # 날짜 범위 생성
                        date_range = pd.date_range(start=start_date, end=end_date + timedelta(days=31), freq='M')  # 월 단위로 생성

                        # 날짜 범위를 컬럼으로 갖는 데이터프레임 생성
                        date_df = pd.DataFrame({'계약월': date_range})
                        date_df['계약월'] = date_df['계약월'].apply(lambda x: str(x)[:7])

                        df_adj = date_df.merge(temp.loc[(temp['면적'] == j) & (temp['층'] == k) & (temp['주소'] == l) & (temp['건축년도'] == h)], how='left', on='계약월')
                        m_data = df2.loc[l.split()[0],list(df_adj['계약월'])]

                        df_adj['건물명'] = list(sett)[i]
                        df_adj['면적'] = j
                        df_adj['층'] = k
                        df_adj['주소'] = l
                        df_adj['건축년도'] = h
                        df_adj['건물용도'] = temp['건물용도'].iloc[0]
                        df_adj['전세지수'] = list(m_data)
                        df_adj['월별평균 전세가'] = df_adj['월별평균 전세가']

                        df_dummy = pd.concat([df_dummy, df_adj])
                    except TypeError:
                        pass

df_j = df_dummy.iloc[1:, :]

df_j.to_csv('전세가평균1.csv', index=False)

In [ ]:
data_mm = pd.read_csv('매매가평균1.csv')
data_jj = pd.read_csv('전세가평균1.csv')

In [ ]:
display(data_mm[data_mm['월별평균 매매가'].isin([0])])
display(data_jj[data_jj['월별평균 전세가'].isin([0])])

In [ ]:
df_mm = data_mm.copy()
df_mm['월별평균 매매가'] = df_mm['월별평균 매매가'] / df_mm['매매지수']
df_mm = df_mm.fillna(method="ffill")
df_mm['월별평균 매매가'] = df_mm['월별평균 매매가'] * df_mm['매매지수']
df_mm

In [ ]:
df_jj = data_jj.copy()
df_jj['월별평균 전세가'] = df_jj['월별평균 전세가'] / df_jj['전세지수']
df_jj = df_jj.fillna(method="ffill")
df_jj['월별평균 전세가'] = df_jj['월별평균 전세가'] * df_jj['전세지수']
df_jj

In [ ]:
df_mm.to_csv('매매가평균2.csv', index=False)

In [ ]:
df_jj.to_csv('전세가평균2.csv', index=False)

In [20]:
import pandas as pd
import csv
import numpy as np
from datetime import datetime as dt

data_mm = pd.read_csv('매매가평균1.csv')

In [22]:
df_mm = data_mm.copy()
df_mm = df_mm.drop(columns=['매매지수'])

df_mm['건물'] = df_mm['주소'] + ' ' + df_mm['건물용도']
df_mm['건물'] = df_mm['건물'] + ' ' + df_mm['건물명']
df_mm['건물'] = df_mm['건물'] + '(' + df_mm['건축년도'].astype(str) + ')'
df_mm['건물'] = df_mm['건물'] + ' ' + df_mm['면적'].astype(str) + '㎡'
df_mm['건물'] = df_mm['건물'] + ' ' + df_mm['층']
df_mm = df_mm.drop(columns=['주소', '건물명', '건축년도', '면적', '층', '건물용도'])
cols_df_mm = df_mm.columns.tolist()
cols_df_mm = cols_df_mm[-1:] + cols_df_mm[:-1]
df_mm = df_mm[cols_df_mm]
df_mm = df_mm.groupby(['건물', '계약월']).mean().reset_index()
df_mm = df_mm.sort_values(by=['건물', '계약월'], ascending=True).reset_index(drop=True)
df_mm

                                                      건물      계약월  월별평균 매매가
0        강남구 개포동 1164-12 아파트 새롬(1164-12)(2000) 72㎡ 2층 초과  2017-09   64500.0
1        강남구 개포동 1164-12 아파트 새롬(1164-12)(2000) 72㎡ 2층 초과  2017-10       NaN
2        강남구 개포동 1164-12 아파트 새롬(1164-12)(2000) 72㎡ 2층 초과  2017-11       NaN
3        강남구 개포동 1164-12 아파트 새롬(1164-12)(2000) 72㎡ 2층 초과  2017-12       NaN
4        강남구 개포동 1164-12 아파트 새롬(1164-12)(2000) 72㎡ 2층 초과  2018-01       NaN
...                                                  ...      ...       ...
5541916        중랑구 중화동 454-0 아파트 동양엔파트2차(2013) 96㎡ 2층 초과  2023-03       NaN
5541917        중랑구 중화동 454-0 아파트 동양엔파트2차(2013) 96㎡ 2층 초과  2023-04       NaN
5541918        중랑구 중화동 454-0 아파트 동양엔파트2차(2013) 96㎡ 2층 초과  2023-05       NaN
5541919        중랑구 중화동 454-0 아파트 동양엔파트2차(2013) 96㎡ 2층 초과  2023-06       NaN
5541920        중랑구 중화동 454-0 아파트 동양엔파트2차(2013) 96㎡ 2층 초과  2023-07       NaN

[5541921 rows x 3 columns]

In [23]:
start_date = dt.strptime(df_mm['계약월'].min(), '%Y-%m')
end_date = dt.strptime('2010-12', '%Y-%m')
print(start_date, end_date)
df_mm[df_mm['계약월']<'2011-01-01']['계약월'].unique()

2011-01-01 00:00:00 2010-12-01 00:00:00

array(['2011-01'], dtype=object)

In [9]:
ts1_mm = sorted(df_mm['계약월'].unique().tolist())

df_ts_mm = pd.DataFrame(columns = ts1_mm)

i = 0
for x in df_mm['건물'].unique():
    i += 1
    print(i,x)
    df_dummy = df_mm[df_mm['건물']==x]
    df_dummy_mm = pd.DataFrame(data = np.array([df_dummy['월별평균 매매가']]), columns = df_dummy['계약월'].values, index = [x])
    df_ts_mm = pd.concat([df_ts_mm, df_dummy_mm])

1 강남구 개포동 1164-12 아파트 새롬(1164-12)(2000) 72㎡ 2층 초과
2 강남구 개포동 1164-12 아파트 새롬(1164-12)(2000) 74㎡ 2층 이하
3 강남구 개포동 1164-12 아파트 새롬(1164-12)(2000) 74㎡ 2층 초과
4 강남구 개포동 1164-13 아파트 새롬(1164-13)(2000) 60㎡ 2층 이하
5 강남구 개포동 1164-13 아파트 새롬(1164-13)(2000) 60㎡ 2층 초과
6 강남구 개포동 1164-14 아파트 새롬(1164-14)(2000) 40㎡ 2층 이하
7 강남구 개포동 1164-14 아파트 새롬(1164-14)(2000) 40㎡ 2층 초과
8 강남구 개포동 1164-14 아파트 새롬(1164-14)(2000) 58㎡ 2층 이하
9 강남구 개포동 1164-14 아파트 새롬(1164-14)(2000) 58㎡ 2층 초과
10 강남구 개포동 1164-20 아파트 한림(2002) 73㎡ 2층 이하
11 강남구 개포동 1164-20 아파트 한림(2002) 73㎡ 2층 초과
12 강남구 개포동 1164-25 아파트 리더스(2002) 84㎡ 2층 초과
13 강남구 개포동 1164-28 아파트 포이벨리(2001) 85㎡ 2층 이하
14 강남구 개포동 1164-28 아파트 포이벨리(2001) 85㎡ 2층 초과
15 강남구 개포동 1164-30 아파트 뉴현대파크빌(2001) 69㎡ 2층 초과
16 강남구 개포동 1164-30 아파트 뉴현대파크빌(2001) 70㎡ 2층 초과
17 강남구 개포동 1164-30 아파트 뉴현대파크빌(2001) 74㎡ 2층 이하
18 강남구 개포동 1164-30 아파트 뉴현대파크빌(2001) 74㎡ 2층 초과
19 강남구 개포동 1164-30 아파트 뉴현대파크빌(2001) 79㎡ 2층 초과
20 강남구 개포동 1164-30 아파트 뉴현대파크빌(2001) 83㎡ 2층 이하
21 강남구 개포동 1164-7 아파트 아람손프라자/비바빌(2001) 60㎡ 2층 초과
22 강남구 개포동 1164-7 아파트 아람손프라자/비바빌(2001) 85㎡ 2층 초과
23 강남구 개포동 1165-0 아파트 포이현대빌라트(1997) 164㎡ 2층 이하
24 강남구 개포동 1165-0 아파트 포이현대빌라트(1997) 164㎡ 2층 초과
25 강남구 개포동 1167-0 아파트 그린빌리지(1996) 198㎡ 2층 이하
26 강남구 개포동 1167-0 아파트 그린빌리지(1996) 198㎡ 2층 초과
27 강남구 개포동 1194-1 오피스텔 런던빌개포(2021) 31㎡ 2층 초과
28 강남구 개포동 1194-1 오피스텔 런던빌개포(2021) 32㎡ 2층 초과
29 강남구 개포동 1194-1 오피스텔 런던빌개포(2021) 46㎡ 2층 초과
30 강남구 개포동 12-0 아파트 성원대치2단지아파트(1992) 33㎡ 2층 이하
31 강남구 개포동 12-0 아파트 성원대치2단지아파트(1992) 33㎡ 2층 초과
32 강남구 개포동 12-0 아파트 성원대치2단지아파트(1992) 40㎡ 2층 이하
33 강남구 개포동 12-0 아파트 성원대치2단지아파트(1992) 40㎡ 2층 초과
34 강남구 개포동 12-0 아파트 성원대치2단지아파트(1992) 50㎡ 2층 이하
35 강남구 개포동 12-0 아파트 성원대치2단지아파트(1992) 50㎡ 2층 초과
36 강남구 개포동 12-0 아파트 성원대치2단지아파트(1992) 51㎡ 2층 이하
37 강남구 개포동 12-0 아파트 성원대치2단지아파트(1992) 51㎡ 2층 초과
38 강남구 개포동 12-0 아파트 성원대치2단지아파트(1992) 60㎡ 2층 이하
39 강남구 개포동 12-0 아파트 성원대치2단지아파트(1992) 60㎡ 2층 초과
40 강남구 개포동 1204-5 아파트 리치타운(2004) 108㎡ 2층 초과
41 강남구 개포동 1204-5 아파트 리치타운(2004) 69㎡ 2층 이하
42 강남구 개포동 1204-5 아파트 리치타운(2004) 69㎡ 2층 초과
43 강남구 개포동 1204-5 아파트 리치타운(2004) 78㎡ 2층 이하
44 강남구 개포동 1204-5 아파트 리치타운(2004) 95㎡ 2층 이하
45 강남구 개포동 1204-5 아파트 리치타운(2004) 95㎡ 2층 초과
46 강남구 개포동 1229-10 오피스텔 하우징허브럭스(2017) 60㎡ 2층 이하
47 강남구 개포동 1229-10 오피스텔 하우징허브럭스(2017) 60㎡ 2층 초과
48 강남구 개포동 1237-8 오피스텔 YH빌리지(2017) 28㎡ 2층 이하
49 강남구 개포동 1237-8 오피스텔 YH빌리지(2017) 31㎡ 2층 이하
50 강남구 개포동 1237-8 오피스텔 YH빌리지(2017) 37㎡ 2층 이하
51 강남구 개포동 1260-11 아파트 우찬현대(1260-11)(2006) 100㎡ 2층 초과
52 강남구 개포동 1260-11 아파트 우찬현대(1260-11)(2006) 101㎡ 2층 초과
53 강남구 개포동 1260-11 아파트 우찬현대(1260-11)(2006) 137㎡ 2층 초과
54 강남구 개포동 1260-11 아파트 우찬현대(1260-11)(2006) 138㎡ 2층 초과
55 강남구 개포동 1260-11 아파트 우찬현대(1260-11)(2006) 58㎡ 2층 초과
56 강남구 개포동 1260-11 아파트 우찬현대(1260-11)(2006) 60㎡ 2층 초과
57 강남구 개포동 1260-2 아파트 우찬현대(1260-2)(2006) 138㎡ 2층 이하
58 강남구 개포동 1260-2 아파트 우찬현대(1260-2)(2006) 65㎡ 2층 초과
59 강남구 개포동 1260-4 아파트 우찬현대(1260-4)(2006) 104㎡ 2층 초과
60 강남구 개포동 1260-4 아파트 우찬현대(1260-4)(2006) 138㎡ 2층 이하
61 강남구 개포동 1260-4 아파트 우찬현대(1260-4)(2006) 138㎡ 2층 초과
62 강남구 개포동 1260-4 아파트 우찬현대(1260-4)(2006) 65㎡ 2층 초과
63 강남구 개포동 1280-0 아파트 래미안블레스티지(0) 100㎡ 2층 초과
64 강남구 개포동 1280-0 아파트 래미안블레스티지(0) 127㎡ 2층 초과
65 강남구 개포동 1280-0 아파트 래미안블레스티지(0) 50㎡ 2층 초과
66 강남구 개포동 1280-0 아파트 래미안블레스티지(0) 60㎡ 2층 초과
67 강남구 개포동 1280-0 아파트 래미안블레스티지(0) 85㎡ 2층 초과
68 강남구 개포동 1280-0 아파트 래미안블레스티지(2019) 100㎡ 2층 초과
69 강남구 개포동 1280-0 아파트 래미안블레스티지(2019) 114㎡ 2층 초과
70 강남구 개포동 1280-0 아파트 래미안블레스티지(2019) 127㎡ 2층 초과
71 강남구 개포동 1280-0 아파트 래미안블레스티지(2019) 50㎡ 2층 초과
72 강남구 개포동 1280-0 아파트 래미안블레스티지(2019) 60㎡ 2층 이하
73 강남구 개포동 1280-0 아파트 래미안블레스티지(2019) 60㎡ 2층 초과
74 강남구 개포동 1280-0 아파트 래미안블레스티지(2019) 85㎡ 2층 이하
75 강남구 개포동 1280-0 아파트 래미안블레스티지(2019) 85㎡ 2층 초과
76 강남구 개포동 1282-0 아파트 개포래미안포레스트(0) 50㎡ 2층 초과
77 강남구 개포동 1282-0 아파트 개포래미안포레스트(0) 60㎡ 2층 이하
78 강남구 개포동 1282-0 아파트 개포래미안포레스트(0) 60㎡ 2층 초과
79 강남구 개포동 1282-0 아파트 개포래미안포레스트(0) 75㎡ 2층 초과
80 강남구 개포동 1282-0 아파트 개포래미안포레스트(2020) 102㎡ 2층 초과
81 강남구 개포동 1282-0 아파트 개포래미안포레스트(2020) 136㎡ 2층 초과
82 강남구 개포동 1282-0 아파트 개포래미안포레스트(2020) 50㎡ 2층 초과
83 강남구 개포동 1282-0 아파트 개포래미안포레스트(2020) 60㎡ 2층 초과
84 강남구 개포동 1282-0 아파트 개포래미안포레스트(2020) 75㎡ 2층 이하
85 강남구 개포동 1282-0 아파트 개포래미안포레스트(2020) 75㎡ 2층 초과
86 강남구 개포동 1282-0 아파트 개포래미안포레스트(2020) 85㎡ 2층 이하
87 강남구 개포동 1282-0 아파트 개포래미안포레스트(2020) 85㎡ 2층 초과
88 강남구 개포동 1282-0 아파트 개포래미안포레스트(2020) 97㎡ 2층 초과
89 강남구 개포동 13-3 오피스텔 대청타워(1997) 32㎡ 2층 초과
90 강남구 개포동 13-3 오피스텔 대청타워(1997) 33㎡ 2층 초과
91 강남구 개포동 13-3 오피스텔 대청타워(1997) 34㎡ 2층 초과
92 강남구 개포동 13-3 오피스텔 대청타워(1997) 35㎡ 2층 초과
93 강남구 개포동 13-3 오피스텔 대청타워(1997) 37㎡ 2층 초과
94 강남구 개포동 13-3 오피스텔 대청타워(1997) 38㎡ 2층 초과
95 강남구 개포동 13-3 오피스텔 대청타워(1997) 41㎡ 2층 초과
96 강남구 개포동 13-3 오피스텔 대청타워(1997) 43㎡ 2층 초과
97 강남구 개포동 13-3 오피스텔 대청타워(1997) 47㎡ 2층 초과
98 강남구 개포동 13-3 오피스텔 대청타워(1997) 48㎡ 2층 초과
99 강남구 개포동 138-0 아파트 디에이치아너힐즈(0) 104㎡ 2층 초과
100 강남구 개포동 138-0 아파트 디에이치아너힐즈(0) 107㎡ 2층 이하
101 강남구 개포동 138-0 아파트 디에이치아너힐즈(0) 107㎡ 2층 초과
102 강남구 개포동 138-0 아파트 디에이치아너힐즈(0) 114㎡ 2층 초과
103 강남구 개포동 138-0 아파트 디에이치아너힐즈(0) 115㎡ 2층 초과
104 강남구 개포동 138-0 아파트 디에이치아너힐즈(0) 131㎡ 2층 초과
105 강남구 개포동 138-0 아파트 디에이치아너힐즈(0) 144㎡ 2층 초과
106 강남구 개포동 138-0 아파트 디에이치아너힐즈(0) 49㎡ 2층 초과
107 강남구 개포동 138-0 아파트 디에이치아너힐즈(0) 60㎡ 2층 초과
108 강남구 개포동 138-0 아파트 디에이치아너힐즈(0) 76㎡ 2층 초과
109 강남구 개포동 138-0 아파트 디에이치아너힐즈(0) 83㎡ 2층 초과
110 강남구 개포동 138-0 아파트 디에이치아너힐즈(0) 84㎡ 2층 이하
111 강남구 개포동 138-0 아파트 디에이치아너힐즈(0) 84㎡ 2층 초과
112 강남구 개포동 138-0 아파트 디에이치아너힐즈(0) 85㎡ 2층 초과
113 강남구 개포동 138-0 아파트 디에이치아너힐즈(0) 95㎡ 2층 초과
114 강남구 개포동 138-0 아파트 디에이치아너힐즈(1982) 36㎡ 2층 이하
115 강남구 개포동 138-0 아파트 디에이치아너힐즈(1982) 36㎡ 2층 초과
116 강남구 개포동 138-0 아파트 디에이치아너힐즈(1982) 42㎡ 2층 이하
117 강남구 개포동 138-0 아파트 디에이치아너힐즈(1982) 42㎡ 2층 초과
118 강남구 개포동 138-0 아파트 디에이치아너힐즈(1982) 43㎡ 2층 이하
119 강남구 개포동 138-0 아파트 디에이치아너힐즈(1982) 43㎡ 2층 초과
120 강남구 개포동 138-0 아파트 디에이치아너힐즈(1982) 50㎡ 2층 이하
121 강남구 개포동 138-0 아파트 디에이치아너힐즈(1982) 50㎡ 2층 초과
122 강남구 개포동 138-0 아파트 디에이치아너힐즈(1982) 51㎡ 2층 이하
123 강남구 개포동 138-0 아파트 디에이치아너힐즈(1982) 51㎡ 2층 초과
124 강남구 개포동 138-0 아파트 디에이치아너힐즈(2019) 107㎡ 2층 초과
125 강남구 개포동 138-0 아파트 디에이치아너힐즈(2019) 131㎡ 2층 초과
126 강남구 개포동 138-0 아파트 디에이치아너힐즈(2019) 49㎡ 2층 초과
127 강남구 개포동 138-0 아파트 디에이치아너힐즈(2019) 60㎡ 2층 이하
128 강남구 개포동 138-0 아파트 디에이치아너힐즈(2019) 60㎡ 2층 초과
129 강남구 개포동 138-0 아파트 디에이치아너힐즈(2019) 76㎡ 2층 이하
130 강남구 개포동 138-0 아파트 디에이치아너힐즈(2019) 76㎡ 2층 초과
131 강남구 개포동 138-0 아파트 디에이치아너힐즈(2019) 84㎡ 2층 이하
132 강남구 개포동 138-0 아파트 디에이치아너힐즈(2019) 84㎡ 2층 초과
133 강남구 개포동 138-0 아파트 디에이치아너힐즈(2019) 85㎡ 2층 초과
134 강남구 개포동 138-0 아파트 디에이치아너힐즈(2019) 94㎡ 2층 초과
135 강남구 개포동 138-0 아파트 디에이치아너힐즈(2019) 95㎡ 2층 초과
136 강남구 개포동 140-0 아파트 주공2(0) 100㎡ 2층 이하
137 강남구 개포동 140-0 아파트 주공2(0) 100㎡ 2층 초과
138 강남구 개포동 140-0 아파트 주공2(0) 114㎡ 2층 초과
139 강남구 개포동 140-0 아파트 주공2(0) 127㎡ 2층 이하
140 강남구 개포동 140-0 아파트 주공2(0) 127㎡ 2층 초과
141 강남구 개포동 140-0 아파트 주공2(0) 189㎡ 2층 초과
142 강남구 개포동 140-0 아파트 주공2(0) 223㎡ 2층 초과
143 강남구 개포동 140-0 아파트 주공2(0) 50㎡ 2층 초과
144 강남구 개포동 140-0 아파트 주공2(0) 59㎡ 2층 초과
145 강남구 개포동 140-0 아파트 주공2(0) 60㎡ 2층 이하
146 강남구 개포동 140-0 아파트 주공2(0) 60㎡ 2층 초과
147 강남구 개포동 140-0 아파트 주공2(0) 72㎡ 2층 초과
148 강남구 개포동 140-0 아파트 주공2(0) 80㎡ 2층 초과
149 강남구 개포동 140-0 아파트 주공2(0) 85㎡ 2층 이하
150 강남구 개포동 140-0 아파트 주공2(0) 85㎡ 2층 초과
151 강남구 개포동 140-0 아파트 주공2(1982) 25㎡ 2층 이하
152 강남구 개포동 140-0 아파트 주공2(1982) 25㎡ 2층 초과
153 강남구 개포동 140-0 아파트 주공2(1982) 54㎡ 2층 이하
154 강남구 개포동 140-0 아파트 주공2(1982) 54㎡ 2층 초과
155 강남구 개포동 140-0 아파트 주공2(1982) 62㎡ 2층 이하
156 강남구 개포동 140-0 아파트 주공2(1982) 62㎡ 2층 초과
157 강남구 개포동 140-0 아파트 주공2(1982) 72㎡ 2층 이하
158 강남구 개포동 140-0 아파트 주공2(1982) 72㎡ 2층 초과
159 강남구 개포동 140-0 아파트 주공2(1982) 80㎡ 2층 이하
160 강남구 개포동 140-0 아파트 주공2(1982) 80㎡ 2층 초과
161 강남구 개포동 157-9 오피스텔 개포렉스힐(157-9)(2011) 29㎡ 2층 이하
162 강남구 개포동 157-9 오피스텔 개포렉스힐(157-9)(2011) 29㎡ 2층 초과
163 강남구 개포동 157-9 오피스텔 개포렉스힐(157-9)(2011) 37㎡ 2층 초과
164 강남구 개포동 166-4 아파트 에버그린(2003) 62㎡ 2층 초과
165 강남구 개포동 166-4 아파트 에버그린(2003) 84㎡ 2층 초과
166 강남구 개포동 166-4 아파트 에버그린(2003) 85㎡ 2층 초과
167 강남구 개포동 172-3 아파트 현대(1994) 134㎡ 2층 이하
168 강남구 개포동 172-3 아파트 현대(1994) 134㎡ 2층 초과
169 강남구 개포동 176-1 아파트 상지리츠빌(2003) 161㎡ 2층 초과
170 강남구 개포동 177-0 아파트 현대아파트3(1986) 132㎡ 2층 이하
171 강남구 개포동 177-0 아파트 현대아파트3(1986) 132㎡ 2층 초과
172 강남구 개포동 177-0 아파트 현대아파트3(1986) 164㎡ 2층 이하
173 강남구 개포동 177-0 아파트 현대아파트3(1986) 164㎡ 2층 초과
174 강남구 개포동 177-0 아파트 현대아파트3(1986) 85㎡ 2층 이하
175 강남구 개포동 177-0 아파트 현대아파트3(1986) 85㎡ 2층 초과
176 강남구 개포동 179-0 아파트 우성8(1987) 79㎡ 2층 이하
177 강남구 개포동 179-0 아파트 우성8(1987) 79㎡ 2층 초과

KeyboardInterrupt:

In [ ]:
df_ts_mm.to_csv('매매가시계열.csv')

In [ ]:
df_mm = df_mm.drop(columns=['매매지수'])
display(df_mm.head())
df_jj = df_jj.drop(columns=['전세지수'])
df_jj['건축년도'] = df_jj['건축년도'].astype(int)
display(df_jj.head())

In [ ]:
df = pd.merge(df_mm, df_jj, how="inner", on=['주소', '건물명', '건축년도', '면적', '층', '계약월', '건물용도'])

df['건물'] = df['주소'] + ' ' + df['건물용도']
df['건물'] = df['건물'] + ' ' + df['건물명']
df['건물'] = df['건물'] + '(' + df['건축년도'].astype(str) + ')'
df['건물'] = df['건물'] + ' ' + df['면적'].astype(str) + '㎡'
df['건물'] = df['건물'] + ' ' + df['층']
df = df.drop(columns=['주소', '건물명', '건축년도', '면적', '층', '건물용도'])

cols_df = df.columns.tolist()
cols_df = cols_df[-1:] + cols_df[:-1]
df = df[cols_df]
df = df.groupby(['건물', '계약월']).mean().reset_index()
df = df.sort_values(by=['건물', '계약월'], ascending=True).reset_index()
df

In [ ]:
ts1 = sorted(df['계약월'].unique().tolist())

df_ts = pd.DataFrame(columns = ts1)

df_ts

In [ ]:
df_ts_m = df_ts.copy()
df_ts_j = df_ts.copy()
i = 0
for x in df['건물'].unique():
    i += 1
    print(i,x)
    df_dummy = df[df['건물']==x]
    df_dummy_m = pd.DataFrame(data = np.array([df_dummy['월별평균 매매가']]), columns = df_dummy['계약월'].values, index = [x])
    df_dummy_j = pd.DataFrame(data = np.array([df_dummy['월별평균 전세가']]), columns = df_dummy['계약월'].values, index = [x])
    df_ts_m = pd.concat([df_ts_m, df_dummy_m])
    df_ts_j = pd.concat([df_ts_j, df_dummy_j])

In [ ]:
df_ts_m.to_csv('매매가시계열.csv')

In [ ]:
df_ts_j.to_csv('전세가시계열.csv')

In [ ]:
df_ts_m

In [ ]:
df_ts_j

In [10]:
data_mm = pd.read_csv('매매가평균2.csv')
data_jj = pd.read_csv('전세가평균2.csv')

In [11]:
data_mm

,주소,건물명,건축년도,면적,층,계약월,건물용도,월별평균 매매가,매매지수
0,구로구 가리봉동 137-7,미래하이츠,2003,97,2층 초과,2016-02,아파트,32300.000000,80.879
1,구로구 가리봉동 137-7,미래하이츠,2003,97,2층 초과,2016-03,아파트,32272.044659,80.809
2,구로구 가리봉동 137-7,미래하이츠,2003,97,2층 초과,2016-04,아파트,32307.987240,80.899
3,구로구 가리봉동 137-7,미래하이츠,2003,97,2층 초과,2016-05,아파트,32364.297284,81.040
4,구로구 가리봉동 137-7,미래하이츠,2003,97,2층 초과,2016-06,아파트,32461.342252,81.283
...,...,...,...,...,...,...,...,...,...
5542048,종로구 명륜3가 1-102,(1-102),1997,70,2층 이하,2023-03,아파트,20770.931715,92.599
5542049,종로구 명륜3가 1-102,(1-102),1997,70,2층 이하,2023-04,아파트,20685.020778,92.216
5542050,종로구 명륜3가 1-102,(1-102),1997,70,2층 이하,2023-05,아파트,20637.242633,92.003
5542051,종로구 명륜3가 1-102,(1-102),1997,70,2층 이하,2023-06,아파트,20630.737628,91.974
5542052,종로구 명륜3가 1-102,(1-102),1997,70,2층 이하,2023-07,아파트,20648.458160,92.053

In [12]:
data_jj

,주소,건물명,건축년도,면적,층,계약월,건물용도,월별평균 전세가,전세지수
0,구로구 가리봉동 137-7,미래하이츠,2003.0,84,2층 이하,2016-06,아파트,26000.000000,88.176
1,구로구 가리봉동 137-7,미래하이츠,2003.0,84,2층 이하,2016-07,아파트,26143.599165,88.663
2,구로구 가리봉동 137-7,미래하이츠,2003.0,84,2층 이하,2016-08,아파트,26250.929958,89.027
3,구로구 가리봉동 137-7,미래하이츠,2003.0,84,2층 이하,2016-09,아파트,26326.710216,89.284
4,구로구 가리봉동 137-7,미래하이츠,2003.0,84,2층 이하,2016-10,아파트,26436.105063,89.655
...,...,...,...,...,...,...,...,...,...
5196693,종로구 명륜3가 1-102,(1-102),1997.0,70,2층 이하,2023-03,아파트,16309.204555,87.845
5196694,종로구 명륜3가 1-102,(1-102),1997.0,70,2층 이하,2023-04,아파트,16160.120472,87.042
5196695,종로구 명륜3가 1-102,(1-102),1997.0,70,2층 이하,2023-05,아파트,16120.389471,86.828
5196696,종로구 명륜3가 1-102,(1-102),1997.0,70,2층 이하,2023-06,아파트,16135.427841,86.909
5196697,종로구 명륜3가 1-102,(1-102),1997.0,70,2층 이하,2023-07,아파트,16139.512336,86.931

print('-'*130)
print('-'*130)
print('-'*130)
print('-'*130)

df = pd.merge(df3[['접수연도', '자치구코드', '자치구명', '법정동코드', '법정동명', '지번구분', '지번구분명', '본번', '부번','층','면적','계약월','평균물건금액(만원)']], df4, how='inner', on=['접수연도', '자치구코드', '자치구명', '법정동코드', '법정동명', '지번구분', '지번구분명', '본번', '부번',
        '층','면적','계약월'])

df = df[~df['평균물건금액(만원)'].isnull()].reset_index(drop=True)

df = df.sort_values(by=['접수연도'],ascending = True)

df = df.sort_values(by=['자치구명', '법정동명', '층', '건물명', '면적'])

df.drop(columns=['자치구명', '법정동명', '지번구분명', '전월세 구분', '계약기간', '신규갱신여부', '종전 보증금', '계약일', '종전 임대료', '계약개월', '계약갱신권사용여부', '건물명'],inplace = True)

df.fillna(2004,inplace = True)

df['법정동코드'] = (df['자치구코드'].astype(str) + df['법정동코드'].astype(str)).astype(int)

df['지번구분'] = df['지번구분'].astype(int)

df['본번'] = df['본번'].astype(int)

df['부번'] = df['부번'].astype(int)

df['층'] = df['층'].astype(int)

df['면적'] = df['면적'].astype(int)

df['건축년도'] = df['건축년도'].astype(int)

df['전세가율'] = df['보증금(만원)'] / df['평균물건금액(만원)'] * 100

df = df.drop_duplicates().reset_index(drop=True)

df['깡통전세'] = df['전세가율']>75

df.drop(columns=['전세가율'],inplace = True)

df['깡통전세'] = df['깡통전세'].astype(int)

df

from sklearn.model_selection import train_test_split


y = df['깡통전세']
X = df.drop('깡통전세', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42, stratify=y_train)

print("X_train shape: ", X_train.shape)
print("X_val shape: ", X_val.shape)
print("X_test shape: ", X_test.shape)

from sklearn.metrics import accuracy_score

base_major = y_train.mode()[0]

y_pred_base = [base_major] * len(y_train)

print("training accuracy: ", accuracy_score(y_train, y_pred_base).round(2))

y_pred_base_val = [base_major] * len(y_val)

print("validation accuracy: ", accuracy_score(y_val, y_pred_base_val).round(2))

from sklearn.preprocessing import MinMaxScaler, OneHotEncoder

numeric_feats = X_train.dtypes[X_train.dtypes != "object"].index

scaler = MinMaxScaler()
X_train[numeric_feats] = scaler.fit_transform(X_train[numeric_feats])
X_val[numeric_feats] = scaler.transform(X_val[numeric_feats])
X_test[numeric_feats] = scaler.transform(X_test[numeric_feats])

ohe = OneHotEncoder(handle_unknown='ignore')

X_train_ohe = ohe.fit_transform(X_train)
X_val_ohe = ohe.transform(X_val)
X_test_ohe = ohe.transform(X_test)

from sklearn.datasets import make_classification
from sklearn.linear_model import LinearRegression, LogisticRegression

logistic = LogisticRegression(class_weight='balanced')
logistic.fit(X_train_ohe, y_train)
y_val_pred = logistic.predict(X_val_ohe)
print('logistic train accuracy', logistic.score(X_train_ohe, y_train).round(2))
print("logistic validation accuracy: ", accuracy_score(y_val, y_val_pred).round(2))

from sklearn.metrics import classification_report, recall_score, precision_score, f1_score

print(classification_report(y_val, y_val_pred))

accuracy = accuracy_score(y_val, y_val_pred)
precision = precision_score(y_val, y_val_pred)
recall = recall_score(y_val, y_val_pred)
f1 = f1_score(y_val, y_val_pred)

print(f'accuracy of logistic regression is {accuracy.round(2)}')
print(f'precision of logistic regression is {precision.round(2)}')
print(f'recall of logistic regression is {recall.round(2)}')
print(f'f1 of logistic regression is {f1.round(2)}')

y_test_pred = logistic.predict(X_test_ohe)

print(classification_report(y_test, y_test_pred))

accuracy = accuracy_score(y_test, y_test_pred)
precision = precision_score(y_test, y_test_pred)
recall = recall_score(y_test, y_test_pred)
f1 = f1_score(y_test, y_test_pred)

print(f'accuracy of logistic regression is {accuracy.round(2)}')
print(f'precision of logistic regression is {precision.round(2)}')
print(f'recall of logistic regression is {recall.round(2)}')
print(f'f1 of logistic regression is {f1.round(2)}')